@import "tailwindcss";

@theme {
  --font-display: "Inconsolata", sans-serif;
}

@layer base {
  @font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400 800;
    font-stretch: 75% 125%;
    font-display: swap;
    src: url("/fonts/Inconsolata-VariableFont_wdth,wght.ttf")
      format("truetype-variations");
  }
}

@layer components {
  .focus-outline {
    @apply focus:outline-tertiary focus:outline focus:outline-offset-2;
  }

}

.hover-effect {
  @apply hover:bg-surface/50;
}

@theme inline {
  --color-primary: var(--color-white);
  --color-secondary: var(--color-neutral-300);
  --color-tertiary: var(--color-neutral-500);
  --color-surface: var(--color-neutral-500);
  --color-surface-secondary: var(--color-neutral-700);
}

body {
  font-family: "Inconsolata", sans-serif;
  background-color: #000;
  background-image: url("/images/background-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
